@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.sections {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
  }
  
  .h2 {
    color: white !important;
    background-color: #0D6EFD !important ;
    padding: 5px;
    border-radius: 5px;
  }

  h3 {
    margin-top: 20px !important;
  }

.h2 .h3 p {
    font-family: 'Montserrat', sans-serif;
  }

